.main{
    margin: 2rem 3rem;
}
.header{
    text-align: center;
   
    font-weight: bolder;
   
    
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    
    font-size: larger;
}
.form-input{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* column-gap: 1rem; */
}
.button{
    align-self: flex-end;
}